@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Outfit:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap') ;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
section{
    width: 100%;
    display: flex;
    justify-content:center ;
}
/* header section started */
header{
    width: 100%;
  display: flex;
  justify-content: center;
  background: rgba(245, 249, 255, 0.40);
  box-shadow: 0px 4px 10px 0px rgba(79, 87, 107, 0.16);
  position: fixed;
  z-index: 999;
  background:blur(10px);
  
}
header .allPadgeWidth {
    width: 1440px;
    height:90px ;
    background: rgba(245, 249, 255, 0.40);
}
header .allPadgeWidth nav{
    padding: 25px 179.35px 0 180px;
    display: flex;
    gap: 779px;
}
header .allPadgeWidth nav .box{
    display: flex;
    align-items: center;
}
header .allPadgeWidth nav .box .logo{
    margin-right: 12px;
}
header .allPadgeWidth nav .box strong{
    color: #312D43;
font-family: Nunito;
font-size: 24px;
font-weight: 600;
line-height: 42px; /* 175% */
text-transform: capitalize;
}
header .allPadgeWidth nav .box .flag{
    width: 31.903px;
    height: 23px;
    border-radius: 9px;
background: url(../images/english.svg), lightgray 50% / cover no-repeat;
margin-left: 28px;
}
header .allPadgeWidth nav .box .colormania{
    width: 125px;
height: 36px;
border-radius: 36px;
background: linear-gradient(90deg, #B9EAC7 0%, #98A2FD 63.34%, #A9E9F9 100%);
box-shadow: 0px 0px 16px 0px rgba(67, 68, 71, 0.12);
display: flex;
align-items: center;
padding: 0 13px 0 4px;
gap:13px
}
header .allPadgeWidth nav .box .colormania span{
    color: var(--Text-Color-Gray, #333537);
font-family: Poppins;
font-size: 13px;
font-weight: 500;
}
header .allPadgeWidth nav .box .colormania .btn{
    width: 57px;
height: 28px;
border-radius: 27px;
background: rgba(245, 249, 255, 0.90);
box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
border: none;
}
header .allPadgeWidth nav .box .colormania .transparent{
    background-color: transparent;
}
/* header section started */
/* section home started */
.home{
    width: 1440;
}
.home .allPadgeWidth {
    width: 1440px;
    position: relative;
    margin-top: 148px;
}
.home .allPadgeWidth  h1{
    color: var(--Text-Color-Gray, #333537);
font-family: Poppins;
font-size: 56px;
font-style: normal;
font-weight: 500;
line-height: 64px; /* 114.286% */
position: absolute;
right: 605px;
left: 180px;
z-index: 2;
}
.home .allPadgeWidth p{
    color: var(--Text-Color-Gray, #333537);
font-family: Outfit;
font-size: 20px;
font-weight: 400;
position:absolute;
right: 742px;
top: 219px;
left: 180px;
z-index: 2;
}
.home .allPadgeWidth .dowload_button{
    position: absolute;
    z-index: 1;
    top: 380.28px ;
    left: 180px;
    display: flex;
    gap: 25px;
    z-index: 2;

}

.home .allPadgeWidth .blur .circle{
    width: 298px;
height: 296px;
transform: rotate(-90deg);
flex-shrink: 0;
border-radius: 298px;
filter: blur(100px);
position: absolute;
z-index: 1;
}
.home .allPadgeWidth .blur .phone{
    width: 821.475px;
height: 508.5px;
flex-shrink: 0;
    background: url(../images/iPhone.svg)no-repeat;
    position: absolute;
    z-index: 2;
    left: 685.77px;
}
.home .allPadgeWidth .blur .one {
    background: linear-gradient(155deg, #A99979 1.14%, #57D773 83.97%);
    left: 852px;
    top:20px;
}
.home .allPadgeWidth .blur .two {
    background: linear-gradient(155deg, #6B48B1 1.14%, #8898F9 83.97%);
left: 1043px;
top: 53px;
}
.home .allPadgeWidth .blur .three {
    background: linear-gradient(155deg, #A188F5 1.14%, #FFCB5B 83.97%);
    left: 752px;
    top: 271px;
}
.home .allPadgeWidth .blur .four{
left:1018px;
top:271px ;
background: linear-gradient(155deg, #89A2FB 1.14%, #5ED3D0 83.97%);
}
/* section home ended */
/*  section offer started  */

.offer .allPadgeWidth{
    padding: 819px 25px 62px 90px;
    display: flex;
    gap: 40px;
}
.offer .allPadgeWidth .container{
    width: 415px;
height: 225px;
border-radius: 36px;
background: linear-gradient(306deg, #CD0F5F 2.71%, #FFA234 92.89%);
box-shadow: 0px 0px 16px 0px rgba(67, 68, 71, 0.12);
padding: 49px 86px 56px 45px ;
position: relative;
}
.offer .allPadgeWidth .container strong{
    color: #FFF;
font-family: Poppins;
font-size: 34px;
font-weight: 500;
line-height: 40px; /* 117.647% */
}
.offer .allPadgeWidth .container .clap_image{
    width: 182px;
    height: 182px;
    background: url(../images/clap.svg) no-repeat;
    position:absolute;
    z-index: 1;
    left: 271px;
    bottom: 64px;
}
.offer .allPadgeWidth .container p{
    color: #FFF;
font-family: Outfit;
font-size: 20px;
font-weight: 500;
margin-top: 12px;
}
.offer .allPadgeWidth .green{
background: linear-gradient(155deg, #A99979 1.14%, #57D773 83.97%);
padding: 49px 77px 34px 45px;
}
.offer .allPadgeWidth .green .tree{
    width: 267px;
height: 267px;
flex-shrink: 0;
background: url(../images/tree.svg) no-repeat;
position: absolute;
z-index: 1;
left:219px;
bottom: 20.09px;
}
.offer .allPadgeWidth .purple{
background: linear-gradient(128deg, #A473EF 2%, #FEC874 92.41%);
padding-left:56px ;
}
.offer .allPadgeWidth .purple .scissor{
    width: 287px;
height: 287px;
flex-shrink: 0;
background: url(../images/scissor.svg)  no-repeat;
position: absolute;
z-index: 1;
left: 174px;
top: -63px;
}
/* section offer started  */
  /* section item started  */
 .item .allPadgeWidth {
    width: 1440px;
    margin-top: 146px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .item .allPadgeWidth h3{
    text-align: center;
    color: var(--Text-Color-Gray, #333537);
text-align: center;
font-family: Poppins;
font-size: 48px;
font-weight: 500;
 }
 .item .allPadgeWidth .text{
    color: var(--Text-Color-Gray, #333537);
text-align: center;
font-family: Outfit;
font-size: 20px;
font-weight: 400;
text-align: center;
margin-top: 10px;
margin-bottom: 48px;


 }
 .item .allPadgeWidth .items {
    display: flex;
    gap:20px;
    justify-content: center;
    position: relative;
 }

 .item .allPadgeWidth .items .box{
    width: 255px;
height: 392px;
border-radius: 28px;
background: #86EB9C;
padding: 59px 0 0 14px;
position: relative;
overflow: hidden;
 } 

 .item .allPadgeWidth .items .box .big_seed{
    width: 85px;
    height: 117px;
    position: absolute;
    z-index: 2;
    left: 143px;
    bottom: 266px;
filter: drop-shadow(1px 3px 6px rgba(0, 0, 0, 0.20));
 }
 .item .allPadgeWidth .items .box .container{
    position: absolute;
    z-index: 1;
 }
 .item .allPadgeWidth .items .box .container  strong{
    color: #254A30;
font-family: Poppins;
font-size: 28px;
margin-right: 158px;
margin-left: 12px;
font-weight: 500;
text-transform: capitalize;
 }
 .item .allPadgeWidth .items .box .container  span{
    color: #254A30;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    margin-left: 12px;
    font-weight: 500;

 }
 .item .allPadgeWidth .items .box .flower{
    width: 293px;
height: 260px;
mix-blend-mode: luminosity;
background: url(../images/green.svg) no-repeat;
position: absolute;
background-position: center;
right: 36px;
bottom: 75px;
 }
 .item .allPadgeWidth .items .box .container p{
    color: #254A30;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    margin:21px  29px 34px 0;
    line-height: normal;
    margin-left: 12px;
 }
 .item .allPadgeWidth .items .box  .green{
    width: 293px;
height: 260px;
flex-shrink: 0;
background: url(../images/branch.png) no-repeat;
mix-blend-mode: luminosity;
position: absolute;
z-index: 0;
background-position: center;
left:69px;
top: 155px;
 }
 .item .allPadgeWidth .items .box .container .donation{
    width: 228px;
height: 79px;
border-radius: 20px;
background: rgba(86, 86, 86, 0.30);
backdrop-filter: blur(5px);
display: flex;
align-items: center;
justify-content: center;
gap: 10px;

 }
 .item .allPadgeWidth .items .box .container   .sign{
    border-radius: 12px;
background: rgba(245, 249, 255, 0.90);
width: 40px;
height: 40px;
flex-shrink: 0;
border: none;
 }
 .item .allPadgeWidth .items .box .container  .donation .seed{
    border-radius: 16px;
    width: 95px;
height: 54px;
flex-shrink: 0;
border: 4px solid;
border-color: rgba(183, 187, 185, 0.4);
background: rgba(245, 249, 255, 0.90);
display: flex;
justify-content: center;
align-items: center;
 }
 .item .allPadgeWidth .items .box .container  .donation  .seed span{
    color: var(--Text-Color-Gray, #333537);
margin-left: 7px;
 }
 .item .allPadgeWidth .items .purple{
background-color: #AC98FD;
 }
 .item .allPadgeWidth .items .purple .water_drop{
    position: absolute;
    z-index: 2;
    left: 126px;
    bottom: 256px;
  
 }
 .item .allPadgeWidth .items .purple .container .drop{
    display: flex;
    margin-bottom: 9px;
 }
 .item .allPadgeWidth .items .purple .container .drop strong{
    color: #343968; 
    line-height: 32px;
 }
 .item .allPadgeWidth .items .purple .container .money{
    color: #343968;
 }
 .item .allPadgeWidth .items .purple .container .donation .seed .purple_number{
    margin-left: 0;
  
 }
 .item .allPadgeWidth .items .purple .container .goal{
    margin-bottom:24px;
     color: #343968; ;
 }
 .item .allPadgeWidth .items .purple .wave{
    width: 345px;
height: 266px;
background: url(../images/wave_\ blue.svg) no-repeat;
mix-blend-mode: luminosity;
bottom: 71px;
background-position: 100% 50%;
right: 97px;
position: absolute;
z-index: 0;
 }
 .item .allPadgeWidth .items .purple .blue{
    background: url(../images/blue_wave.svg) no-repeat;
    bottom: 124px;
    left: 96px;
    position: absolute;
 }
 .item .allPadgeWidth .items .orange{
    background-color: #FFC77D;
     }
     .item .allPadgeWidth .items .orange .big_coin{
        position: absolute;
        z-index: 2;
        left:136px;
        top: 8px;
     }
     .item .allPadgeWidth .items .orange .coin{
        width: 157.595px;
height: 127.417px;
background: url(../images/coin.svg) no-repeat;
position: absolute;
opacity: 0.3;
right: 115px;
bottom: 203px;
z-index: 0;
background-position: center;
     }
     .item .allPadgeWidth .items .orange .left{
        width: 142.785px;
        background-image: url(../images/coin_left.svg);
        left: 130px;
        opacity: 0.3;
        top: 124.52px;
     }
     .item .allPadgeWidth .items .orange .bottom{
        width: 93.886px;
height: 127.417px;
background: url(../images/coin_bottom.svg) no-repeat;
top:222px;
opacity: 0.3;
     }
 .item .allPadgeWidth .items .orange .container .orange_title{
        color: #57442C;
     }
    
          .item .allPadgeWidth .items .orange .container .orange_money{
        color: #57442C;
     }
     .item .allPadgeWidth .items .orange .container .coin_goal{
        color: #57442C;
        margin: 21px 29px 14px 12px;
     }
     .item .allPadgeWidth .items .orange .container .donation button .coin_count {
        margin-left: 4px;
     }
     .item .allPadgeWidth .items .blue{
        background-color: #90BDFF;
         }
         .item .allPadgeWidth .items .blue .big_ticket {
         position: absolute;
         z-index: 2;
         left: 116px;
         top: -8px;
         }
         .item .allPadgeWidth .items .blue .ticket{
            width: 324px;
height: 265px;
flex-shrink: 0;
/* opacity: 0.2; */
background: url(../images/tickets.svg)no-repeat;
mix-blend-mode: luminosity;
position: absolute;
z-index: 0;
left: 21px;
top: 127px;
         }
         .item .allPadgeWidth .items .blue .container  strong{
color: #263457;
         }
         .item .allPadgeWidth .items .blue .container  span{
            color: #263457;  
         }
         .item .allPadgeWidth .items .blue .container  p{
            color: #263457;
            margin: 21px 45px 34px 12px;
         }
         .item .allPadgeWidth .items .blue .container .donation button .ticket_count{
            margin-left: 3px;
         }
         .item .allPadgeWidth .total_expense{
            width: 1080px;
height: 106px;
border-radius: 28px;
background: linear-gradient(90deg, #86EB9C 10.43%, #AC98FD 37.31%, #FFC77D 62.68%, #90BDFF 88.59%);
box-shadow: 0px 0px 16px 0px rgba(67, 68, 71, 0.12);
margin-top: 22px;
display: flex;
align-items: center;
padding-left: 51px;
margin-bottom: 51px;}
.item .allPadgeWidth .total_expense strong{
    color: var(--Text-Color-Gray, #333537);
font-family: Poppins;
font-size: 28px;
font-weight: 500;
line-height: normal;
margin-right: 115px;
}
.item .allPadgeWidth .total_expense button{
    width: 110px;
height: 54px;
border: none;
margin-right: 26px;
flex-shrink: 0;
border-radius: 16px;
background: rgba(245, 249, 255, 0.90);
display: flex;
align-items: center;
justify-content: center;
}
.item .allPadgeWidth .total_expense button .seed_count{
    margin-left: 9px;
}
.item .allPadgeWidth .total_expense button .coin_count{
    margin-left: 5px;
}
.item .allPadgeWidth .total_expense button .ticket_count{
    margin-left: 2px;
}

.item .allPadgeWidth .total_expense .btn_sum{
    width: 231px;
height: 54px;
margin-left: 17px;
justify-content: center;
}
.item .allPadgeWidth .total_expense .btn_sum strong{
    margin: 0;
    font-size: 20px;
}
.item .allPadgeWidth .confirm {
padding: 20px 48px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 20px;
background: linear-gradient(270deg, #98A2FD 0%, #A9E9F9 50.22%, #AEFEC4 100%);
}
.item .allPadgeWidth .confirm span{
    color: var(--Text-Color-Gray, #333537);
text-align: center;
font-family: Poppins;
font-size: 20px;
font-weight: 600;
}
.item .allPadgeWidth .app_info{
    width: 1440px;
height: 337px;
/* overflow: hidden; */
position: relative;
margin-top: 189px;

}
.item .allPadgeWidth .app_info .box{
    display: flex;
    margin-left: 813px;
    position: relative;
overflow: hidden;
}
.item .allPadgeWidth .app_info .circle{
    width: 800px;
background: url(../images/blurr.svg);
margin-left: 633px;
height: 337px;
}

.item .allPadgeWidth .app_info .green{
background: linear-gradient(155deg, #A99979 1.14%, #57D773 83.97%);
top:-132px;
left: 1004px;
}
.item .allPadgeWidth .app_info  .blue{
left: 837px;
top: 119px;
background: linear-gradient(155deg, #89A2FB 1.14%, #5ED3D0 83.97%)
}
.item .allPadgeWidth .app_info .orange{
    transform: rotate(-90deg);
    background: linear-gradient(155deg, #A188F5 1.14%, #FFCB5B 83.97%);
    top: 119px;
    left: 1103px;}
    .item .allPadgeWidth .app_info h2 {
        color: var(--Text-Color-Gray, #333537);
        font-family: Poppins;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        position: absolute;
        z-index: 1;
        right: 619px;
        top: 74px;
        left: 180px;
    }
    
.item .allPadgeWidth .app_info .phone{
left: 855px;
top:-132px;
position: absolute;
z-index: 2;
display: flex;
}
 /* section item ended */
/* footer section started */
footer{
    display: flex;
    justify-content: center;
}
footer .allPadgeWidth{
    padding: 76px 180px;
    width: 1440px;
height: 432px;
flex-shrink: 0;
display: flex;
 background: linear-gradient(104deg, rgba(117, 217, 138, 0.30) 1.95%, rgba(169, 153, 121, 0.15) 36.87%, rgba(242, 245, 255, 0.00) 97.97%, rgba(242, 245, 255, 0.30) 97.97%);
backdrop-filter: blur(10px);

}
footer .allPadgeWidth .logo {
    display: flex;
    width: 182px;
    height: 56px;
    align-items: center;
    gap: 16px;
}
footer .allPadgeWidth .logo span{
    color: #312D43;
font-family: Nunito;
font-size: 32px;
font-weight: 600;
line-height: 42px; /* 131.25% */
}
footer .allPadgeWidth .text {
    color: var(--Text-Color-Gray, #333537);
font-family: Outfit;
font-size: 16px;
font-weight: 400px;
margin-top: 25px;
width: 295px;
height: 40px;
margin-bottom: 59px;
}
footer .allPadgeWidth .links{
    display: flex;
    gap: 89px;
    margin-top: 16px;
}
footer .allPadgeWidth .links .store{
    display: flex;
    flex-direction: column;
}
footer .allPadgeWidth .links .store a img{
    margin-bottom: 20px;
}
footer .allPadgeWidth .links ul strong {
    color: var(--Text-Color-Gray, #333537);
margin-bottom: 32.28px;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
footer .allPadgeWidth .links ul li {
   margin-bottom: 12px;
}
footer .allPadgeWidth .links ul li a {
    color: var(--Text-Color-Gray, #333537);
font-family: Outfit;
font-size: 16px;
font-weight: 500;
line-height: 20px; /* 125% */
}
footer .allPadgeWidth .links .solutions{
    margin-left: 65px;
}
footer .allPadgeWidth .links  .trust{
    margin-right: 17px;
}
footer .allPadgeWidth .links ul .first{
    margin-top: 27px;
}
footer .copyright{
    width: 1440px;
height: 48px;
flex-shrink: 0;
background: linear-gradient(171deg, rgba(150, 192, 159, 0.20) -49.3%, rgba(185, 234, 199, 0.20) 84.71%);
display: flex;
justify-content: center;
align-items: center;
}
footer .copyright p{
    color: var(--Text-Color-Gray, #333537);
text-align: center;
font-family: Outfit;
font-size: 16px;
font-weight: 400;
line-height: 24px; /* 150% */
}
/* footer section ended */